body {
  padding: 50px;
  padding-left: 0px;
}
form {
  position: relative;
  text-align: right;
}
.locationIcon {
  font-size: 50px;
  padding-bottom: 5px;
}
h1 {
  color: blue;
}
#city {
  font-size: 45px;
  margin-bottom: 5px;
}
.localTime {
  font-size: 22px;
  margin-top: 2px;
}
a {
  text-decoration: none;
}
h2,
h5,
h6 {
  text-align: center;
}
#main-temp {
  font-size: 100px;
}
h3 {
  font-size: 28px;
  text-align: left;
}
.col-12 {
  padding: 20px;
}
.button {
  background-color: white;
  color: blue;
  border-radius: 10px;
  border: 3px solid blue;
  font-size: 16px;
  padding: 4px 10px;
  font-weight: bolder;
}
#change-city {
  display: block;
  margin: 0 auto;
}
#current-location-link {
  display: block;
  padding-top: 10px;
  text-align: right;
}
#celsius-link,
#fahrenheit-link {
  font-size: 28px;
}
#celsius-link-clicked,
#fahrenheit-link-clicked {
  font-size: 28px;
  color: grey;
}
#celsius-link,
#celsius-link-clicked {
  padding-left: 15px;
}
inner.HTML {
  margin: 0 auto;
  text-align: center;
}
p {
  margin: 0px;
}
div.col-8 {
  padding: 0px;
}
svg {
  display: block;
  margin: 0 auto;
}
div#main.container {
  padding-left: 12px;
  padding-right: 12px;
}
div#unitTemp,
h1#main-temp,
h3.main-temp,
h2.main-temp {
  display: inline;
}
#weatherDays {
  display: inline-block;
  text-align: center;
  height: 40px;
}
